.card {
  align-self: center;
  width: 100%;
  min-height: 80px;
  padding: 8px;
  border: 2px solid var(--color-greige);
  border-radius: var(--radius-lg);
  background-color: var(--color-white);
  box-shadow: var(--shadow-card);
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}

.info {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.memo {
  height: 48px;
  margin: 0;
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
}

.createdAt {
  margin: 0;
  color: var(--color-subtext);
  font-size: 12px;
  font-weight: 400;
}

.amount {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
}

.amount span {
  font-size: 14px;
}

.income {
  color: var(--color-denim);
}

.expense {
  color: var(--color-coral);
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 24px;
  color: var(--color-subtext);
  background-color: transparent;
  cursor: pointer;
}