.balance {
  width: 80%;
  align-self: center;
  padding: 16px;
  margin: 16px 0;
  background-color: var(--color-greige);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-card);
}

.content {
  display: grid;
  grid-template-columns: 40px auto;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.label {
  grid-column: 2;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-denim);
}

.icon {
  grid-column: 1;
  grid-row: 2;
  width: 40px;
  height: 40px;
  filter: var(--shadow-icon);
}

.amount {
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  color: var(--color-denim);
}

.amount span {
  margin-left: 16px;
  font-size: 20px;
}