.segmentedControl {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  width: 80%;
  padding: 1px;
  border-radius: var(--radius-lg);
  background-color: var(--color-white);
  box-shadow: var(--shadow-card);
}

.sm {
  height: 32px;
}

.md {
  height: 42px;
}

.button {
  flex: 1;
  height: 100%;
  padding: 0;
  border: none;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
  color: var(--color-subtext);
  background-color: transparent;
  cursor: pointer;
}

.active {
  color: var(--color-white);
  background-color: var(--color-denim);
  border-radius: var(--radius-lg);
}